{% extends 'tmpl.twig.html' %}

{% block content %}
    <style type="text/css">
      #projects.table tbody tr { cursor: hand; cursor: pointer; }
    </style>
    <h1> Projects </h1>
    {% include '_alerts.twig.html' %}
    <a href="{{ url_for('.add') }}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add Project</a>
    <table id="projects" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project['name'] }}</td>
                <td>
                  <a href="{{ url_for('.samples_list', project_id=project['_id'])}}" class="btn btn-small"><i class="icon-th-list"></i> Samples</a>
                  <a href="{{ url_for('.edit', _id=project['_id'])}}" class="btn btn-small"><i class="icon-edit"></i> Edit</a>
                  <a href="{{ url_for('.delete', _id=project['_id'])}}" class="btn  btn-small btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>        
    </table>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#projects tbody tr').click(function() {
                var href = $(this).find("a").attr("href");
                if(href) {
                    window.location = href;
                }
            });
        });
    </script>
{% endblock %}