{% extends 'tmpl.twig.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    <h1> {{ page }} Holder </h1>
    <form method="post">
        {{ render_field(form.name) }}
        {{ render_field(form.type) }}
        <div class="form-actions">
            <button type="submit"  class="btn btn-primary">{{ submit }}</button>
            <a href="{{ url_for('.index') }}">
                <button type="button" class="btn">Cancel</button>
            </a>
        </div>
    </form>
{% endblock %}