{% extends 'tmpl.twig.html' %}

{% block content %}
    <h1> {{ project.name }}: Samples </h1>
    {% include '_alerts.twig.html' %}
    <a href="{{ url_for('.samples_add', project_id=project['_id']) }}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add Sample</a>
    <table id="samples" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Priority</th>
                <th scope="col">Holder</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr>
                <td>{{ sample['name'] }}</td>
                <td>
                    <span class="label {{ priority_map[sample['priority']] }}">{{ sample['priority'] }}</span>
                </td>
                <td>
                    {% if sample['holder'] %}
                    <a href="{{ url_for('holders.view', _id=sample['holder']) }}" class="btn btn-small">
                        View
                    </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <!--<td>{{ sample['extra'] }}</td>-->
                <td>
                    <a href="{{ url_for('.samples_edit', _id=sample['_id'], project_id=project_id)}}" class="btn btn-small"><i class="icon-edit"></i> Edit</a>
                    <a href="{{ url_for('.samples_delete', _id=sample['_id'], project_id=project_id)}}" class="btn  btn-small btn-danger"><i class="icon-remove icon-white"></i> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>        
    </table>
{% endblock %}